{%extends 'base.html'%}

{%block main%}
<div id = container>
		<div id=box1>
			<img id ="img" src="static/rick.jpg" alt ="profile picture"/>
			<div id = info>
				<h2>Keemo Yen</h2>
				<p>@KYen</p>
				<p>Kingston, Jamaica</p>
				<p>Joined {{date}}</p>
			</div>
		</div>
	
		<div id=box2>
			<div id ="container2">
				<p>I hope to use my skills and excellent eduction I aquired from the
					University of The West Indies to make Jamaica and by extension the world
				    a better place and who nows, become a billionaire in the process.
				</p>
				<div id ="container3">
					<div id="posts">
						<h2>7</h2>
						<p>Posts</p>
					</div>

					<div id="following">
						<h2>100</h2>
						<p>Following</p>
					</div>

					<div id="followers">
						<h2>250</h2>
						<p>followers</p>
					</div>
				</div>
				<button type = "button">Follow</button>
			</div>
		</div>
	</div>
{% endblock %}
